* {
    font-family:Arial, Helvetica, sans-serif


}

body {
    margin: 0px;
    
}

form {
    display: block;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 10px;
    background-color: green;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border: 5px;
    color: white;
}

img {
    position: relative;
    margin: 0 auto;
}

.contact-form {
    position: relative;
    display: block;
    text-align: center;
    border: 5px;
    padding: 5em;
    left: 33%;
    width: 30em;
    height: 3em;
    border-style: solid;
    border-radius: 25px;
    border-color: burlywood;
    
    }

.social {
    height: 30px;
    text-align: right;
    padding-top: 18px;
    background-color: green;
    }

.content {
    background-color: rgb(247, 235, 222);
    text-align: center;
    padding: 10px;
    border: 10px;
    border-style: solid;
    border-color: burlywood;
    

}

.contact-me {
    background-color: rgb(207, 175, 149);
    height: 300px;
    width: 100%;
    padding: 10px;
    
}

.button {
    background-color: #5f5c5c;
    color: white;
    border: none;
    margin: 0 auto;

}

#links {
    display: inline;
    height: 20px;
    padding: 20px;
    color: white;
}

#h1 {
    height: 20px;
    padding: 0px;
}

#h2 {
    text-align: center;
    position: relative;
    padding-top: 15px;
    height: 20px;
}